@import 'dark.css';

/* @import 'light-theme.css'; */


/*  */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #121212;
}

input.clean {
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    width: 100%;
}


/* ---------------- GRID ROWS ----------------  */

.grid-row {
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}

.grid-row.one {
    grid-template-columns: 100%;
}

.grid-row.two {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
}

.grid-row.three {
    grid-template-columns: calc(33% - 10px) calc(33% - 10px) calc(33% - 10px);
}

.grid-row.four {
    grid-template-columns: calc(25% - 10px) calc(25% - 10px) calc(25% - 10px) calc(25% - 10px);
}

.grid-row.five {
    grid-template-columns: calc(20% - 10px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px);
}

.grid-row.five {
    grid-template-columns: calc(100%/6 - 10px) calc(100%/6 - 10px) calc(100%/6 - 10px) calc(100%/6 - 10px) calc(100%/6 - 10px) calc(100%/6 - 10px);
}

.grid-row-item {
    text-align: center;
    padding: 9px;
    background: transparent;
    border-radius: 3px;
    position: relative;
}

.grid-row-item-label {
    font-weight: bold;
    position: absolute;
    font-size: 12px;
    padding: 0 5px;
    top: -8px;
}

.grid-row-item.clickable:hover {
    cursor: pointer;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button.clean,
input::-webkit-inner-spin-button.clean {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number].clean {
    -moz-appearance: textfield;
}

#app {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    min-width: 600px;
    padding: 30px;
    border-radius: 5px;
    background: #EFEFEF33;
    margin: auto;
}