@import 'dark.css';

/* @import 'light-theme.css'; */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #121212;
}

input.clean {
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    width: 100%;
}

.row {
    display: flex;
    height: 69px;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button.clean,
input::-webkit-inner-spin-button.clean {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number].clean {
    -moz-appearance: textfield;
}

#app {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    min-width: 600px;
    padding: 30px;
    border-radius: 5px;
    /* border: 1px solid #EFEFEF; */
    margin: auto;
}

#timer {
    font-size: 60px;
    padding: 0 20px;
}

.speaker {
    font-size: 40px;
    line-height: 69px;
}

.speaker.inactive.one {
    font-size: 35px;
    color: #EFEFEF66;
}

.speaker.inactive.two {
    font-size: 30px;
    color: #EFEFEF33;
}

.speaker.inactive.three {
    font-size: 25px;
    color: #EFEFEF11;
}