.clickable {
    transition: border-color 150ms ease-in-out;
    cursor: pointer;
}

th.sortable {
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
}

th.sortable:hover {
    background-color: #434f36;
}